{{!< default}}

<div class="container">
    <div class="row">
    
        <div id="main" class="column">
            <h1 class="category">{{tag.name}}</h1>
            {{>postlist}}
            {{pagination}}
        </div>

        {{> sidebar}}
    </div>
</div> 
