<footer class="footer">
    <p>
        &copy;<span onload="this.innerText = new Date().getFullYear()"></span>
        <span class="author">{{@blog.title}}</span>
    </p>
    <p>Powered by <a href="http://ghost.org" target="_blank">Ghost</a>.</p>
    <p>
        Theme original by <a href="http://github.com/orderedlist" target="_blank">Steve Smith</a>.
        Ported by <a href="https://github/balthild" target="_blank">Balthild</a>.
    </p>
</footer>
