{{! Social links displayed in the big cover on the left, replace them and modify as you wish }}
   <div class="social-links">
    <div class="container">
        <a href="https://github.com/yuanliang" target="_blank" title="Github"><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/yuanliang" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://instagram.com/yuanliang" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
        <a href="https://weibo.com/iyuanliang" target="_blank" title="Weibo"><i class="fa fa-weibo"></i></a>
        <a href="weixin://contacts/profile/yuanliang" target="_blank" title="WeChat"><i class="fa fa-weixin"></i></a>
        <a href="https://facebook.com/yuanzaiyou" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>

        {{!
        <a href="#"><i class="fa fa-medium"></i></a>
        <a href="#"><i class="fa fa-google-plus-square"></i></a>
        <a href="https://dribbble.com/yuanliang"><i class="fa fa-dribbble"></i></a>
        <a href="https://vimeo.com/yuanliang" target="_blank" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>
        <a href="https://www.linkedin.com/in/liang-yuan-76844322" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-skype"></i></a>
        <a href="#"><i class="fa fa-vine"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-digg"></i></a>
        <a href="#"><i class="fa fa-hacker-news"></i></a>
        <a href="#"><i class="fa fa-slack"></i></a>
        <a href="#"><i class="fa fa-stumbleupon"></i></a>
        <a href="#"><i class="fa fa-tumblr"></i></a>
        <a href="#"><i class="fa fa-vk"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
        }}
    </div>
</div>
