<footer class="main">
    <div class="container">
        <div class="row">
            <div class="column">
                &copy; 2018 Chris Sainty
            </div>
            <div class="column">
                Proudly published with <a target="_blank" rel="noreferrer" href="https://ghost.org">Ghost</a>
            </div>
        </div>
    </div>
</footer>