<div class="uk-navbar-container uk-padding-large uk-height-expand" uk-navbar>
    <div class="uk-navbar-center">
        <div class="uk-navbar-center-left">
            <ul class="uk-navbar-nav">
                <li><a href="https://www.twitter.com/stuykgaming/" title="Twitter">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/stuyk-trevor-wessel/" title="LinkedIn">LinkedIn</a></li>
            </ul>
        </div>
        <div class="uk-text-center uk-padding-small">
            <h4 class="uk-padding-remove uk-margin-remove">Social</h4>
            <div class="uk-navbar-subtitle">Made by Stuyk</div>
        </div>
        
        <div class="uk-navbar-center-right">
            <ul class="uk-navbar-nav">
                <li><a href="https://www.github.com/stuyk" title="Github">Github</a></li>
                <li><a href="https://www.youtube.com/stuyk" title="Youtube">YouTube</a></li>
            </ul>
        </div>
    </div>
</div>