{{!< default}}

<header class="archive-header u-textAlignCenter">
    <h1 class="archive-title">标签：{{tag.name}}</h1>
</header>
<section class="blockGroup">
    {{> "loop"}}
</section>
<div class="u-textAlignCenter postsFooterNav">
    {{pagination}}
</div>