<ul class="header-items">
  <li><a href="https://github.com/OpenMined/" target="_blank" rel="noopener">
    <img src="{{ asset "images/github.svg" }}" alt="Github" />
  </a></li>
  <li><a href="https://twitter.com/openminedorg" target="_blank" rel="noopener">
    <img src="{{ asset "images/twitter.svg" }}" alt="Twitter" />
  </a></li>
  <li><a href="https://www.youtube.com/c/openminedorg" target="_blank" rel="noopener">
    <img src="{{ asset "images/youtube.svg" }}" alt="YouTube" />
  </a></li>
  <li><a href="https://www.facebook.com/openminedorg" target="_blank" rel="noopener">
    <img src="{{ asset "images/facebook.svg" }}" alt="Facebook" />
  </a></li>
</ul>
