<section class="author-card">
  {{#if profile_image}}
    <img class="author-card__profile-image" src="{{profile_image}}" alt="{{name}}" />
  {{/if}}
  <h4 class="author-card__name">~ {{name}}</h4>
</section>
